<%= div_for article do %>


	<h3>
		
		<% if x == 1%>
			<div id="article_title">
			<%= link_to article.title, article %>
		<% else %>
			<div class="article_title_big" >
			<h1>
			<%= link_to article.title, article.hyperlink %>
			</h1>
		<%end%>
			<div id="actions">
			<span class='actions' >
				<%= link_to "Edit", edit_article_path(article) %>
				<%= link_to "Delete", article, :confirm => "Are you sure?", :method => :delete %>
			</span>
		</div>
		</div>
	</h3>
	<div class="article_image">
		
		<%= image_tag(article.img_url, :size => '150x70')  %>
	</div>
	<div class="article_description">
		<%= simple_format article.description %>
	</div>
	<div class="article_divide">
		<hr />
	</div>
<% end %>
